{{- if .Values.persistence.config.enabled -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: music-assistant-data
  labels:
    {{- include "music-assistant.labels" . | nindent 4 }}
spec:
  storageClassName: {{ .Values.persistence.config.storageClass }}
  accessModes: {{ .Values.persistence.config.accessModes }}
  resources:
    requests:
      storage: {{ .Values.persistence.config.size }}
{{- end }}