apiVersion: v1
kind: Service
metadata:
  name: {{ include "music-assistant.fullname" . }}-web
  labels:
    {{- include "music-assistant.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.web.type }}
  ports:
    - port: {{ .Values.service.web.port }}
      targetPort: web
      protocol: TCP
      name: web 
  selector:
    {{- include "music-assistant.selectorLabels" . | nindent 4 }}
