apiVersion: v1
kind: Service
metadata:
  name: {{ include "music-assistant.fullname" . }}-stream
  labels:
    {{- include "music-assistant.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.stream.type }}
  ports:
    - port: {{ .Values.service.stream.port }}
      targetPort: stream
      protocol: TCP
      name: stream   
  selector:
    {{- include "music-assistant.selectorLabels" . | nindent 4 }}
